<div style="display: flex; flex-direction: column; gap: 6px">
  <div style="margin: 16px 0px 6px 0px">
    <p>API used: https://api.agify.io</p>
    <p>Enter your first name and let the API guess your Age!</p>
    <div style="display: flex; flex-direction: row; gap: 6px; margin-top: 6px">
      <input
        type="text"
        (keyup.Enter)="sendNameRequest()"
        [(ngModel)]="sName"
        class="name-input"
        maxlength="50"
      />
      <Button (click)="sendNameRequest()">Guess the age!</Button>
    </div>
    <p style="margin-top: 6px">Your age is: {{ Age }} (probably not)</p>
  </div>
</div>
