<div>
  <h2>Select a pool of Champions and choose a random one</h2>
  <div class="champlist-container">
    Champion Selection
    <ul class="champlist">
      <li *ngFor="let champ of unselectedChampions">
        <app-champ-listitem
          [champname]="champ.name"
          [selected]="champ.selected"
          [checked]="champ.checked"
          (check_clicked)="onChampChecked(champ)"
          (selectionbutton_clicked)="onSelectionButtonClicked(champ)"
        ></app-champ-listitem>
      </li>
    </ul>
  </div>
  <div class="champlist-container">
    Champion Pool
    <ul class="champlist">
      <li *ngFor="let champ of selectedChampions">
        <app-champ-listitem
          [champname]="champ.name"
          [selected]="champ.selected"
          [checked]="champ.checked"
          (check_clicked)="onChampChecked(champ)"
          (selectionbutton_clicked)="onSelectionButtonClicked(champ)"
        />
      </li>
    </ul>
  </div>

  <Button (click)="onRandomButtonClicked()"> Get Random Champ </Button>
  <h3>{{ sSelectedChamp.name }}</h3>
</div>
