<div class="champ-header">
  <h2>Select a pool of Champions and choose a random one</h2>
  <button
    class="champ-button header-button"
    (click)="onSelectAllButtonClicked()"
  >
    Select all</button
  ><button
    class="champ-button header-button"
    (click)="onDeselectAllButtonClicked()"
  >
    Deselect all
  </button>
</div>
<div class="champ-selection-page">
  <div class="champlist-container panel">
    Champion Selection
    <ul class="champlist">
      <li *ngFor="let champ of unselectedChampions">
        <app-champ-listitem
          [champname]="champ.name"
          [selected]="champ.selected"
          [checked]="champ.checked"
          (check_clicked)="onChampChecked(champ)"
          (selectionbutton_clicked)="onSelectionButtonClicked(champ)"
        ></app-champ-listitem>
      </li>
    </ul>
  </div>
  <div class="champlist-halfcontainer panel">
    <div class="champlist-buttoncontainer">
      <div class="champname-container">{{ sSelectedChamp.name }}</div>
      <button
        type="button"
        class="champ-button"
        (click)="onRandomButtonClicked()"
      >
        <mat-icon>casino</mat-icon>
        Pick Random Champion
      </button>
    </div>
    <div class="champlist-half">
      Selected Pool
      <ul class="champlist">
        <li *ngFor="let champ of selectedChampions">
          <app-champ-listitem
            [champname]="champ.name"
            [selected]="champ.selected"
            [checked]="champ.checked"
            (check_clicked)="onChampChecked(champ)"
            (selectionbutton_clicked)="onSelectionButtonClicked(champ)"
          />
        </li>
      </ul>
    </div>
  </div>
</div>
