.label {
  display: inline-block;
  width: 180px;
  margin-bottom: 15px;
}

.gameSelection {
  width: 200px;
  height: 45px;
  font-size: large;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  margin: 3px;
}

