<h2>
  Timo's carving calculator<select
    name="games"
    id="games"
    (ngModelChange)="onGameChange($event)"
    [(ngModel)]="game"
    style="margin-left: 15px"
  >
    <option value="mh3u">MH3U</option>
    <option value="mh4u">MH4U</option>
    <option value="mhgu">MHGU</option>
  </select>
</h2>

<div class="hbox">
  <div>
    <div style="width: 250px">
      <div style="margin-top: 5px">
        <app-search
          (sendCalcTask)="receiveCalcTask($event)"
          [game]="game"
        ></app-search>
      </div>
    </div>
  </div>
  <div>
    <div style="font-weight: bold; margin: 5px 0px 5px 0px">
      Wahrscheinlichkeiten (Tail Carve)
    </div>
    <table>
      <tr>
        <td>Carves:</td>
        <td style="font-weight: bold; font-size: larger">
          {{ sChanceWithKill }}% (
          <ng-container
            style="display: inline"
            *ngIf="sChanceWithCaptureAndTail !== sChanceWithCapture"
          >
            {{ sChanceWithKillTailCut }}%
          </ng-container>
          )
        </td>
      </tr>
      <tr>
        <td>Capture:</td>
        <td style="font-weight: bold; font-size: larger">
          <ng-container *ngIf="sChanceWithCapture !== '0'">
            {{ sChanceWithCapture }}% (
            <ng-container
              style="display: inline"
              *ngIf="sChanceWithCaptureAndTail !== sChanceWithCapture"
            >
              {{ sChanceWithCaptureAndTail }}%
            </ng-container>
            )
          </ng-container>
          <ng-container *ngIf="sChanceWithCapture == '0'">
            Keine Daten
          </ng-container>
        </td>
      </tr>
    </table>
    <div *ngIf="aOtherTypes.length > 0" style="margin-top: 10px">
      <span>Erhöhe die Chance weiter durch: </span>
      <ul *ngFor="let type of aOtherTypes">
        <li style="margin-left: 15px">
          {{ type }}
        </li>
      </ul>
    </div>
  </div>
  <div style="width: 250px; margin: 5px 0px 5px 0px">
    <div>
      <label class="label">Carving Chance:</label>
      <input
        type="text"
        placeholder="%"
        [(ngModel)]="carvingChance"
        (ngModelChange)="onInputChange($event)"
        class="inputfield"
        style="width: 50px"
      />%
    </div>
    <div>
      <label class="label">Anzahl Carves:</label>
      <input
        type="text"
        placeholder="%"
        [(ngModel)]="carvingCount"
        (ngModelChange)="onCarveCountChange($event)"
        class="inputfield"
        style="width: 50px"
      />
    </div>
    <div>
      <label class="label">Tail Carving Chance:</label>
      <input
        type="text"
        placeholder="%"
        [(ngModel)]="tailCarveChance"
        (ngModelChange)="onTailCarveChange($event)"
        class="inputfield"
        style="width: 50px"
      />%
    </div>
    <div>
      <label class="label">Chance on Capture:</label>
      <input
        type="text"
        placeholder="%"
        [(ngModel)]="captureChance"
        (ngModelChange)="onCaptureChanceChange($event)"
        class="inputfield"
        style="width: 50px"
      />%
    </div>
    <div>
      <button class="button" (click)="calculate()">Berechnen</button>
    </div>
  </div>
</div>
