<h2>Timo's carving calculator</h2>
<div class="hbox">
  <div style="width: 250px; margin: 5px 0px 5px 0px">
    <div>
      <label class="label">Carving Chance:</label>
      <input
        type="text"
        placeholder="%"
        [(ngModel)]="carvingChance"
        (ngModelChange)="onInputChange($event)"
        class="inputfield"
        style="width: 50px"
      />%
    </div>
    <div>
      <label class="label">Anzahl Carves:</label>
      <input
        type="text"
        placeholder="%"
        [(ngModel)]="carvingCount"
        (ngModelChange)="onCarveCountChange($event)"
        class="inputfield"
        style="width: 50px"
      />
    </div>
    <div>
      <label class="label">Tail Carving Chance:</label>
      <input
        type="text"
        placeholder="%"
        [(ngModel)]="tailCarveChance"
        (ngModelChange)="onTailCarveChange($event)"
        class="inputfield"
        style="width: 50px"
      />%
    </div>
    <div>
      <label class="label">Chance on Capture:</label>
      <input
        type="text"
        placeholder="%"
        [(ngModel)]="captureChance"
        (ngModelChange)="onCaptureChanceChange($event)"
        class="inputfield"
        style="width: 50px"
      />%
    </div>
    <div>
      <button class="button" (click)="calculate()">Berechnen</button>
    </div>
  </div>
  <div>
    <div style="font-weight: bold; margin: 5px 0px 5px 0px">
      Wahrscheinlichkeiten (Tail Carve)
    </div>
    <table>
      <tr>
        <td>Carves:</td>
        <td style="font-weight: bold; font-size: larger">
          {{ sChanceWithKill }}% (
          <ng-container
            style="display: inline"
            *ngIf="sChanceWithCaptureAndTail !== sChanceWithCapture"
          >
            {{ sChanceWithKillTailCut }}%
          </ng-container>
          )
        </td>
      </tr>
      <tr>
        <td>Capture:</td>
        <td style="font-weight: bold; font-size: larger">
          <ng-container *ngIf="sChanceWithCapture !== '0'">
            {{ sChanceWithCapture }}% (
            <ng-container
              style="display: inline"
              *ngIf="sChanceWithCaptureAndTail !== sChanceWithCapture"
            >
              {{ sChanceWithCaptureAndTail }}%
            </ng-container>
            )
          </ng-container>
          <ng-container *ngIf="sChanceWithCapture == '0'">
            Keine Daten
          </ng-container>
        </td>
      </tr>
    </table>
  </div>
  <div style="width: 250px">
    <div style="margin-top: 5px">
      <app-search (sendCalcTask)="receiveCalcTask($event)"></app-search>
    </div>
  </div>
</div>
