.message-list {
  list-style-type: none;
}

.message-list-container {
  padding: 5px;
  background-color: rgba($color: white, $alpha: 0.3);
  border-width: 2px;
  border-color: rgba($color: white, $alpha: 0.5);
  border-style: solid;
  border-radius: 5px;
}

.message-box {
  min-height: 5rem;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 6px;
  margin-right: 10px;
  width: 85%;
  border: 2px rgb(61, 61, 61) solid;
  position: relative;

  &.differentorigin {
    background-color: rgba($color: #f9e5cd, $alpha: 1);
    justify-self: start;
    animation-name: popfromright;
    animation-duration: 50ms;
  }

  &.sameorigin {
    background-color: rgb(138, 239, 138);
    justify-self: end;
    animation-name: popfromleft;
    animation-duration: 50ms;
  }
}

.message-date {
  color: rgb(119, 119, 119);
  font-size: 12px;
}
.message-name {
  color: black;
}
.message-text {
  color: black;
  word-break: break-all;
  white-space: normal;
}
.message-input {
  width: 20rem;
  text-align: start;
  min-height: 2rem;
  padding: 5px;
}

.message-input.long-input {
  height: 5rem !important;
  color: black;
}

.connect-button {
  min-height: 3rem;
}

.message-button {
  min-height: 3rem;
  padding: 15px;
}

.message-button:disabled,
.message-button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}

@keyframes popfromright {
  from {
    left: 100px;
  }
  to {
    left: 0px;
  }
}

@keyframes popfromleft {
  from {
    left: -100px;
  }
  to {
    left: 0px;
  }
}
