/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bahnschrift", sans-serif;
  color: white;
}

h2 {
  border-bottom: 1px solid grey;
  margin-bottom: 8px;
  margin-top: 5px;
}

input {
  text-align: center;
  color: black;
  border-radius: 5px;
  font-weight: 500;
}

button {
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  font-weight: 800;
}
